asgiref==3.7.2 ; python_version >= "3.9" and python_version < "4.0"
django==4.2.7 ; python_version >= "3.9" and python_version < "4.0"
graphql-core==3.2.3 ; python_version >= "3.9" and python_version < "4"
psycopg2-binary==2.9.9 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
strawberry-graphql==0.211.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
